*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D0D0F;
}

/*Container */
#loginform{
    display: flex;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 300px;
    background-color: #E4E4E4;
    border-radius: 38px;

}
/*Login text*/
.login-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: #BF0603;
    border-radius: 38px;
}
.login-text h2{
    margin-top: 50%;
}
.login-text h2,h3{

    background-color: #BF0603;
    color: #E4E4E4;
}




/*Login form*/
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: #E4E4E4;
    border-radius: 38px;
    margin: auto;
}

/**/
#form h2{
    background-color: #E4E4E4;
    color: #0D0D0F;
}
.box{
    background-color: #E4E4E4;
    padding: 12px;
    width: 65%;
    margin: 15px;
    border-radius: 38px;
    border:2px solid #BF0603;
    color: #939196;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    background-color: #939196;
    border-radius: 38px;
    border: 2px #939196;
    color: #0D0D0F;
    font-weight: bold;
}
#submit:hover{
    cursor: pointer;
    background-color: #BF0603;
    color: #E4E4E4;
}
#form p{
    text-decoration: none;
    color: #0D0D0F;
    margin-top: 20px;
    background-color: #E4E4E4;
}
#form a{
    background-color: #E4E4E4;
    text-decoration: none;
    color: #0D0D0F;
}
#form a:hover{
    color: #BF0603;
}